{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="container">
        <div class="row">
            <div class="col-md-12" >
                <h1> My accounts</h1>
            </div>

            <div class="col-md-9" ">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">World</th>
                            <th scope="col">Country</th>
                            <th scope="col">Clan</th>
                            <th scope="col">Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in accounts %}
                            <tr>
                                <td> {{ item.world }} </td>
                                <td>  <a href=""> Add </a>  </td>
                                <td>  <a href=""> Add </a>  </td>
                                <td> {{ item.name }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3> ------ Форма для создания аккаунта--------- </h3>

                <form action="/account/create/" method="post">
                    {% csrf_token %}
                    {{ account_form.as_p }}

                    <button type="submit">Создать аккаунт</button>
                </form>


                <h3> ------ Форма для создания Страны--------- </h3>

                <form action="/account/create/" method="post">
                    {% csrf_token %}
                    {{ country_form.as_p }}

                    <button type="submit">Создать страну</button>
                </form>
            </div>

            <div class="col-md-3" style="background-color: #99CCFF">
                {% include "profile/include/profile_nav_bar.html" %}
            </div>
        </div>
    </div>

     {% include "profile/include/account_modal.html" %}

    <a href="#accountModal" data-toggle="modal" > Всплывающее окно </a>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accountModal">
      Launch demo modal
    </button>








{% endblock %}