{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="container">
        <div class="row">
            <div class="col-md-12" >
                <h1> My accounts</h1>
            </div>

            <div class="col-md-9" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">World</th>
                            <th scope="col">Country</th>
                            <th scope="col">Clan</th>
                            <th scope="col">Account</th>
                        </tr>
                    </thead>

                    {% for item in accounts %}
                         <tbody>
                            <td> <a href="#/create/ {{ item.account_id }}" >{{ item.world_version }} </a> </td>
                            <td>
                                {% if item.country == "-"  %}
                                   {{ item.account_id }}
                                    <a href="#accountModal" class="open-modal" data-toggle="modal" data-target="#createCountry" > Add </a>
                                {% else  %}
                                    {{ item.country }}
                                {% endif  %}
                            </td>
                            <td> {{ item.clan }} </td>
                            <td> {{ item.account_name }} </td>
                        </tbody>
                    {% endfor %}

                </table>

                <h3> ------ Форма для создания аккаунта--------- </h3>

                <form action="/account/create/" method="post">
                    {% csrf_token %}
                    {{ account_form.as_p }}

                    <button type="submit">Создать аккаунт</button>
                </form>


                <h3> ------ Форма для создания Страны--------- </h3>

                <form action="/account/create/" method="post">
                    {% csrf_token %}
                    {{ country_form.as_p }}

                    <button type="submit">Создать страну</button>
                </form>
            </div>

            <div class="col-md-3" style="background-color: #99CCFF">
                {% include "profile/include/profile_nav_bar.html" %}
            </div>
        </div>
    </div>

    {% include "profile/include/account_modal.html" %}
    {% include "profile/include/create_country_modal.html" %}

    <a href="#accountModal" data-toggle="modal" > Всплывающее окно </a>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accountModal">
        Создать аккаунт
    </button>



    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCountryModal">
        Создать страну
    </button>



{% endblock %}