{% extends "base.html" %}

{% block content %}

    <div id="container">
        <div class="row">
            <div class="col-md-12" >
                <h1> My country & clan</h1>
            </div>

             <div class="col-md-9" >
                 <div>
                     <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">World</th>
                                <th scope="col">Country</th>
                                <th scope="col">Clan</th>
                                <th scope="col">Account</th>
                            </tr>
                        </thead>
                    </table>
                 </div>
                 <div>
                     <H1>ЗАЯВКИ НА ВСТУПЛЕНИЕ В СТРАНУ</H1>
                 </div>
            </div>

            <div class="col-md-3" style="background-color: #99CCFF">
                {% include "profile/../include/profile_nav_bar.html" %}
            </div>
        </div>
    </div>






{% endblock %}