{% extends "base.html" %}
{% load static %}


{% block content %}

    <div id="container">
        <div class="row">
            <div class="col-md-12" style="background-color: #ff9999">
                <h1> My profile</h1>
            </div>

            <div class="col-md-9" style="background-color: #ff1234">
               {% if user.is_authenticated %}
                    <form class="logout-link" action="/customer/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
               {% endif %}
            </div>

            <div class="col-md-3" style="background-color: #99CCFF">
                {% include "profile/include/profile_nav_bar.html" %}
            </div>
        </div>
    </div>


{% endblock %}