{% extends "base.html" %}
{% load static %}


{% block content %}

    <div id="container">
        <div class="row">
            <div class="col-md-12" style="background-color: #ff9999">
                <h1> My profile</h1>
            </div>

            <div class="col-md-9" style="background-color: #ff1234">
                {% if user.is_authenticated %}
                     <br><br>
                     <h4> ********* Выберите мир  **************</h4>
                     <form class="logout-link" action="/customer/select-world/" method="post">
                        {% csrf_token %}
                         <div class="input-group" >
                            <div class="form-group">
                                <label>Выберите гровой мир:</label>
                                <select class="custom-select"  name="world_number">
                                     {% for item in world_list %}
                                         <option value={{ item.name }} >{{ item.name }}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </div>
                         <button type="submit">Select</button>
                    </form>

                    <br><br>
                    <h4> ********* Выйти из учетной записи  **************</h4>
                    <form class="logout-link" action="/customer/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% endif %}
            </div>

            <div class="col-md-3" style="background-color: #99CCFF">
                {% include "profile/../include/profile_nav_bar.html" %}
            </div>
        </div>
    </div>


{% endblock %}