{% load static from staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Global Maps</title>
        {% load staticfiles %}
        <link rel="stylesheet" href={% static "globalMaps/img/first.css" %} type="text/css" >
    </head>
    <body>

        <header class="wrapper">
            <nav>
                <ul>
                    <li>
                        <form class="logout-link" action="/account/logout/" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>



    <div id="container">
        {% block content %}
        {% endblock %}
    </div>




    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

    </body>
</html>
